/* Estilo geral do visualizador*/

model-viewer{
    margin: 20px auto;
    width: 80vw;
    height: Calc(80vw * 9/16);;
    max-width: 700px;
    max-height: Calc(700px * 9/16);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    border: 4px solid orange;
    position: relative;
    background-color: whitesmoke;
}
/* posicionamento dos botoes extras do model viewer, botoes de carregar, fullscreen e exitfullscreen serao posicionados absoluto */
model-viewer button{
    position: absolute;
}
/* botao de carregamento*/
model-viewer .btLoad{
    top: 45%;
    left: Calc(50% - 75px);
    width: 150px;
}
/* margem para o icone*/
model-viewer .btLoad i{
    margin-right: 10px;
}
/* botoes fullscreen e exitfullscreen*/
model-viewer .btFullScreen, model-viewer .btExitFullScreen{
    position: absolute;
    top: 10px;
    right: 10px;
    padding:10px;
    border: 2px solid orange;
    color: orange;
    background-color: transparent;
    transition: 150ms;
}

model-viewer .btLoad{
    border: 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    font-weight: bold;
    background-color: orange;
    color: white;
    z-index: 2;
}
model-viewer .btLoad:hover{
    transform: scale(1.05);
    background-color: darkblue;
    transform: translateY(-4px);
}
model-viewer .btLoad:acitve{
    transform: scale(1.05);
    background-color: darkblue;
    transform: none;

}


model-viewer .btFullScreen:hover, model-viewer .btExitFullScreen:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    background-color: orange;
    color: white;
}
model-viewer .btExitFullScreen{
    visibility: hidden;
}
/* customização da barra de progresso do carregamento do modelo, aparece por padrao no topo do viewer*/
model-viewer::part(default-progress-bar){
    background-color: cyan;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

/* imagem de preview que sera mostrada enquanto o modelo nao tiver carregado*/
/* objeto 1*/
#thumb-objeto01{
    background-image: url(../gltf/poster.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#thumb-objeto02{
    background-image: url(../gltf/poster02.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* uma classe para fundo apenas, de exemplo */
.bg-color01{
    background-color: darkcyan;
}